@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-image: linear-gradient(135deg, #abdcff 10%, #0396ff 100%);
}

.clock {
    height: 30rem;
    width: 30rem;

    /* background-image: linear-gradient(135deg, #81fbb8 10%, #28c76f 100%); */
    background-image: linear-gradient(135deg, #90f7ec 10%, #32ccbc 100%);
    border-radius: 100%;
    border-color: 1px solid black;
    box-shadow: 0rem 3rem 3rem rgba(0, 0, 0, 0.158),
        0rem -3rem 3rem rgba(0, 0, 0, 0.158);

    position: relative;
}

.clock::after {
    content: "";
    position: absolute;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    background-color: black;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.handle {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform-origin: bottom;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;

    --rotation: 0;
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
}

.hour {
    /* --rotation: 30; */
    height: 25%;
    width: 0.5rem;
    background-color: black;
}
.minute {
    /* --rotation: 60; */
    height: 35%;
    width: 0.3rem;
    background-color: black;
}
.second {
    --rotation: 15;
    height: 40%;
    width: 0.2rem;
    background-color: red;
}

.time {
    user-select: none;
    position: absolute;
    top: 0;
    padding: 0.5rem 0;
    font-size: 2rem;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    transform: rotate(var(--rotation));
}

.time--1 {
    --rotation: calc(1 * 30deg);
}
.time--2 {
    --rotation: calc(2 * 30deg);
}
.time--3 {
    --rotation: calc(3 * 30deg);
}
.time--4 {
    --rotation: calc(4 * 30deg);
}
.time--5 {
    --rotation: calc(5 * 30deg);
}
.time--6 {
    --rotation: calc(6 * 30deg);
}
.time--7 {
    --rotation: calc(7 * 30deg);
}
.time--8 {
    --rotation: calc(8 * 30deg);
}
.time--9 {
    --rotation: calc(9 * 30deg);
}
.time--10 {
    --rotation: calc(10 * 30deg);
}
.time--11 {
    --rotation: calc(11 * 30deg);
}
.time--12 {
    --rotation: calc(12 * 30deg);
}
